html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

.wrapper {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px auto 50px;
    grid-row-gap: 30px;
    grid-template-areas: 
        " header header header header header header "
        " main main main . aside aside"
        " footer footer footer footer footer footer";

    width: auto;
    height: 95vh;
}

header {
    grid-area: header;
    background-color: teal;
    display: flex;
    align-items: flex-end;
}
nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
nav ul{
    display: flex;
    align-items: center; /* not working */
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0; /* so it would strech the li items nicely*/
    padding: 0; 
    width: 100%;
}
nav ul li{
    background-color: aliceblue;
    flex: 1 1 auto; /* so it would strech the li items nicely*/
    align-self: center;
    height: 30px;
    width: auto;
}

main {
    grid-area: main;
    background-color: aquamarine;
}
aside {
    grid-area: aside;
    background-color: blue
}
footer {
    grid-area: footer;
    background-color: darkblue;
}


/*******wavy nav bar********/

#item1 {
    transform: skew(-5deg);
    transform: skewY(-5deg); 
    text-align: right;
}
#item2 {
    transform: skewX(5deg);
    transform: skewY(5deg); 
}
#item3 {
    transform: skewX(-10deg);
    transform: skewY(-5deg); 
}
#item4 {
    transform: skewX( 10deg);
    transform: skewY(5deg); 
}
#item5 {
    transform: skewX( -15deg);
    transform: skewY(-5deg); 
}
#item6 {
    transform: skewX( 15deg);
    transform: skewY(5deg); 
}


